body {
   font-family: 'Roboto', sans-serif;
   width: 100%; 
   height: auto;
   background-color: hsl(235, 18%, 26%);
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

.container {
    width: 750px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 25px;
}

img {
    float: right;
    margin-left: 20px;
    max-width: 100%;
    height: 100%;
}

form>.header>h1 {
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

form>.header>p {
    font-size: 16px;
}

/* Your existing CSS */

form > .options {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -10px; 
    margin-right: 25px;
    margin-bottom: 1.5rem;
}

form > .options .option-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
}

form > .options img {
    margin-right: 10px;
    margin-bottom:1px;
    margin-left: 0px;
}

form > .options label {
    margin-bottom: 10px; 
}

form > .input {
    margin-bottom: 20px;
}

form > .input label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    padding-right: 4px;
}

form > .input input {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    width: 48.2%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    font-weight: bold;
    background-color: hsl(4, 100%, 67%);
    color: #fff;
    border: hsl(4, 100%, 67%);
}

button:hover{
    background-color: hsl(231, 100%, 13%);
}

